<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="ProAnalyzeExcel" class="springweb.modelandview.ProAnalyzeExcel" />
	<bean id="TraThuongExcel" class="springweb.modelandview.TraThuongExcel" />
	<bean id="hoa_hong_thu_cuoc" class="springweb.modelandview.HoaHongThuCuocExcel" />


</beans>