@font-face {
	font-family: 'UVNBaiHoc';
	src: url('UVNBaiHoc_R.TTF');
}

@font-face {
	font-family: 'VIE-HandelGothic';
	src: url('VIE-HandelGothic Medium_0.otf');
}

html { !
	font-family: 'VIE-HandelGothic' !important;
	height: 100%;
}

body {
	
}

a { /*Bá»� gáº¡ch chÃ¢n cho cÃ¡c hyperlink*/
	text-decoration: none;
}

header.trai {
	margin: 5px 0 0 0;
	float: left;
	width: 20%;
}

header.giua {
	margin: 15px 0 0 0;
	width: 50%;
	align-content: space-around;
	text-align: center;
	float: left;
}

header.phai {
	margin: 20px 0 0 0;
	/*width: 30%;*/
	align-self: center;
	text-align: left;
	float: right;
}

#menu {
	float: left;
	top: 5px;
	width: 70%;
	margin: 26px auto auto 0px;
	background: #3883cc;
}

section1.session {
	width: 21%;
}

.session {
	display: inline-block;
	float: left;
	margin: 0px auto auto 0px;
	padding: 0px 0px 0px 1%;
}

section2.session {
	width: 74%;
}

.session header {
	overflow: auto; !
	font-family: 'VIE-HandelGothic';
	!font-family: 'Helvetica Neue';
	text-align: center;
	font-size: 2.5em;
	padding: 0px 0 25px 0;
	color: rgb(249, 6, 6);
	font-weight: bold; !
	font-style: italic;
}

#content {
	background: #fff;
	margin: 1em 0 0 0;
	height: 24em;
	overflow: auto;
	position: relative;
	z-index: 2;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;	
	border-bottom: 3px solid;
	border-top: 2px solid;
}

#content textarea {
	height: 23em;
	width: 100%;
}

div#list ul li:hover {
	background: #333;
	color: #fff;
}

div#list {
	clear: both;
	float: left;
	width: 100%;
	height: 14em;
	overflow: auto;
	margin: 0px auto auto 0px;
	/*box-shadow: 10px 0px 20px #888888;	
	/*background: rgb(296, 247, 247);*/
}

div#item_detail { /* clear: both; */
	/* float: left; */
	height: 12em;
}

buttonbar {
	height: 10%;
}

input[type="submit"] {
	float: left;
	width: 20%;
	margin: 12px 0px 0px 10px;
	padding: 2px 0px 2px 0px;
}

input#pro_add[type="submit"] {
	margin: 12px 0px 0px 15%;
}

/*////////////////////////////*/
input#name {
	width: 80%;
	float: left;
	text-align: left;
	margin: 5px 0px 0px 0px;
}

.section textarea {
	position: absolute;
	top: 0px;
	width: 95%;
	height: 95%;
	/* margin: 0px 10px 0 0; */
	/* padding: 10px 0px 0px 3%; */
	/* background: rgb(247, 247, 247); */
	border: 1px solid rgba(147, 184, 189, 0.8);
	/* -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset; */
	-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px
		rgba(208, 223, 226, 0.4) inset;
	/* box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset; */
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
	/* border-radius: 5px; */
	word-wrap: break-word;
}

section1 h4 {
	font-size: 0.55em;
	font-family: 'times new roman';
	text-align: left;
}

section1 h5 {
	font-size: 0.6em;
	font-family: 'times new roman';
	text-align: left;
}

#map_canvas {
	height: 100%
}

#nav, #nav ul {
	list-style: none;
	position: relative;
	line-height: 1.2em;
	text-align: right;
}

#nav a:link, #nav a:active, #nav a:visited {
	display: block;
	padding: 1px 7px;
	border: 1px solid #3883cc;
	color: white;
	text-decoration: none;
	background: #3883cc;
	text-align: left;
}

#nav a:hover {
	background: #fff;
	color: #333;
}

#nav li {
	float: right;
	position: relative;
}

#nav ul {
	position: absolute;
	width: 12em;
	top: 1.4em;
	display: none;
}

#nav li ul a {
	width: 12em;
	float: right;
}

#nav ul ul {
	top: auto;
	text-align: left;
}

#nav li ul ul {
	left: 12em;
	margin: 0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul {
	display: none;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul
	{
	display: block;
	z-index: 1000000
}

#map {
	!clear: both;
	!position: relative;
	!float: left;
	!top: 10px;
	!width: 90%;
	height: 30em;
	!overflow: auto;
	margin: auto
}

IMG#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

br {
	clear: left;
}

h6 {
	float: left;
	padding: 20px;
}

#tabs {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#tabs li {
	float: left;
	margin: 0 .5em 0 0;
}

#tabs>li>a {
	position: relative;
	background: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #ddd);
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-image: -ms-linear-gradient(top, #fff, #ddd);
	background-image: -o-linear-gradient(top, #fff, #ddd);
	background-image: linear-gradient(to bottom, #fff, #ddd);
	padding: 1em 1.5em;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

#tabs>li>a:hover, #tabs>li>a:hover::after, #tabs>li>a:focus, #tabs>li>a:focus::after
	{
	background: #fff;
}

#tabs>li>a:focus {
	outline: 0;
}

#tabs>li>a::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: -.5em;
	bottom: 0;
	width: 1em;
	background: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #ddd);
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-image: -ms-linear-gradient(top, #fff, #ddd);
	background-image: -o-linear-gradient(top, #fff, #ddd);
	background-image: linear-gradient(to bottom, #fff, #ddd);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	-webkit-transform: skew(10deg);
	-moz-transform: skew(10deg);
	-ms-transform: skew(10deg);
	-o-transform: skew(10deg);
	transform: skew(10deg);
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

#tabs #current a {
	background: #fff;
	z-index: 3;
}

#tabs #current a::after {
	background: #fff;
	z-index: 3;
}

/* ------------------------------------------------- */
.CSSTableGenerator {
	margin: 0px;
	padding: 0px;
	width: 100%;
	/*box-shadow: 10px 10px 5px #888888;*/
	border: 1px solid #000000;
}

.CSSTableGenerator table {
	width: 100%;
	height: 100%;
	margin: -1px 0 0px 0px;
	padding: 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.CSSTableGenerator tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.CSSTableGenerator tr:hover td {
	
}

.CSSTableGenerator tr:nth-child(odd) {
	background-color: #aad4ff;
}

.CSSTableGenerator tr:nth-child(even) {
	background-color: #ffffff;
}

.CSSTableGenerator th, td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
}

.CSSTableGenerator tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

	

.CSSTableGenerator tr th {
	background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #337AB7
		), color-stop(1, #286090));
	background: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf",
		endColorstr="#003f7f");
	background: -o-linear-gradient(top, #005fbf, 003f7f);
	background-color: #286090;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 0.8em;
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
}

.CSSTableGenerator tr:hover th {

}

.CSSTableGenerator tr th {
	border-width: 1px 0px 1px 0px;
}

.canclick:hover {
	background: #333;
	color: #fff;
}

error {
	display: block;
	padding: 20% 0 0 0;
	text-align: center;
	font-size: 3em;
	text-align: center;
	font-family: 'times new roman';
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	padding: 10% 0%; /* Location of the box */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	width: 80%;
	height: 100%;
	margin: auto;
	border: initial;
	border-radius: 7px;
	border-bottom-width: 20px;
	border-color: #5A98CF;
}

.modal-header {
	padding: 10px 16px;
	background-color: #337AB7;
	color: white;
	border-radius: 7px 7px 0 0;
}

.modal-body {
	padding: 2px 16px;
	height: 15em;
	overflow: auto;
}